# Ignore files inside _dev folder(s).
_dev
*_dev.*

# Ignore unnecessary folders.
.DS_Store
.phpintel

# Ignore backup files.
!/application/backups/*
/application/backups/*/*

# Ignore cache files.
!/application/cache/*
/application/cache/*/*
/application/cache/seo_*
/application/cache/error_*
/application/cache/*.lock
/application/cache/*.json
!/skeleton/cache/sessions/

# Ignore some files files.
# application/**/*
/application/controllers/*
/application/core/*
/application/helpers/*
/application/hooks/*
/application/logs/*
/application/migrations/*
/application/models/*
/application/modules/*
/application/third_party/*
/application/views/*
!/application/**/.gitkeep

# Remove generated php file.
/application/config/base_controller.php
/application/config/*/base_controller.php
/application/config/config.php
!/application/config/*/config.php
/application/config/database.php
/application/config/*/database.php
/application/config/trusted_hosts.php
/application/config/*/trusted_hosts.php
/application/config/*/language.php
/application/config/language.php
/application/config/blocked_ips.txt

# Content: cache folder.
!/content/cache/*
/content/cache/*
!/content/cache/index.html

# Content: captcha folder.
!/content/captcha/*
/content/captcha/*
!/content/captcha/index.html

# Ignore all uploaded files.
!/content/uploads/*
/content/uploads/*
!/content/uploads/index.html

# Ignore all public modules except default ones.
# Think of removing or commenting the following lines
# if you want your plugins to be pushed to your repo.
!/content/modules/*
/content/modules/*
!/content/modules/index.html
!/content/modules/dummy

# Ignore all plugins except default ones.
# Think of removing or commenting the following lines
# if you want your plugins to be pushed to your repo.
!/content/plugins/*
/content/plugins/*
!/content/plugins/index.html

# Ignore all themes except the default one.
# Think of removing or commenting the following lines
# if you want your themes to be pushed to your repo.
!/content/themes/*
/content/themes/*
!/content/themes/index.html
!/content/themes/default

# Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-*
*_bak*.*
*.sublime-project
*.sublime-workspace

# keep all .htaccess, .gitkeep and index.html
!**/.htaccess
!**/.gitkeep
!**/index.html
