# Ignore files inside _dev folder(s)
_dev
*_dev.*

# Ignore unnecessary folders
**/.DS_Store
.phpintel

# ====== APPLICATION ====== #

# Ignore all backup files
/application/backups/*

# Ignore all cache files
/application/cache/*

# Ignore some config files
/application/config/base_controller.php
/application/config/*/base_controller.php
/application/config/config.php
!/application/config/*/config.php
/application/config/database.php
/application/config/*/database.php
/application/config/trusted_hosts.php
/application/config/*/trusted_hosts.php
/application/config/*/language.php
/application/config/language.php
/application/config/blocked_ips.txt

# Ignore Welcome controller
/application/controllers/Welcome.php

# Ignore all log files
/application/logs/*

# Ignore all modules
# See: ianhubnet/csk-packages/tree/main/packages/modules
/application/modules/*

# Ignore welcome view
/application/views/welcome.php

# ====== CONTENT ====== #

# Ignore all cache files
/content/cache/*

# Ignore all captcha files
/content/captcha/*

# Ignore all common assets
# See: ianhubnet/csk-common
/content/common/*

# Ignore all modules
# See: ianhubnet/csk-packages/tree/main/packages/modules
/content/modules/*

# Ignore all themes
# See: ianhubnet/csk-packages/tree/main/packages/themes
/content/themes/*

# Ignore all uploaded files
/content/uploads/*

# Ignore `skeleton`, CSK core folder
# See: ianhubnet/csk-core
/skeleton/*

# Sublime Text cache files
*~
*.bak
*.bak.*
*_bak*.*
*.stTheme.cache
*.sublime-*
*.sublime-project
*.sublime-workspace
*.tmPreferences.cache
*.tmlanguage.cache

# keep all .htaccess, .gitkeep and index.html
!**/.htaccess
!**/.gitkeep
!**/index.html
