[submodule "skeleton"]
	path = skeleton
	url = https://github.com/ianhubnet/csk-core.git
[submodule "content/common"]
	path = content/common
	url = https://github.com/ianhubnet/csk-common.git
[submodule "content/themes/classic"]
	path = content/themes/classic
	url = https://github.com/ianhubnet/csk-theme-classic.git
