name: Notify `ianhubnet/csk-projects`

# Option #1: Update on tag push.
# on:
#   push:
#     tags:
#       - '*' # Trigger on any tag
# Option #2: Update on push event to branch.
on:
  push:
    branches:
      - main
    paths-ignore:
      - '.dev/**'
      - '.gitdocs/**'
      - '.github/**'
      - '.gitignore'
      - '.gitattributes'
      - '.editorconfig'
      - 'CITATION.cff'
      - '*.todolist'

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger update on csk-projects
        shell: bash
        run: |
          REPO="${{ github.repository }}"
          STRIP="${{ vars.CSK_STRIP }}"
          NAME="${REPO_NAME#"$STRIP"}"

          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.CSK_PAT }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/ianhubnet/csk-projects/dispatches \
            -d "$(jq -n \
                --arg repo "$REPO" \
                --arg name "$NAME" \
                --arg strip "$STRIP" \
                '{"event_type":"update-submodules","client_payload":{"repo":$repo,"name":$name,"strip":$strip}}')"
