name: Release and Dispatch

on:
  push:
    tags:
      - '*'
      - '!*alpha*'
      - '!*beta*'

permissions:
  contents: write

jobs:
  release:
    uses: ianhubnet/csk-release/.github/workflows/project.yml@main
    with:
      name: ${{ vars.CSK_NAME }}
    secrets:
      token: ${{ secrets.CSK_PAT }}
